.centerSearch {
  display: flex;
  justify-content: center;
}

.centerSearch > form > label > input {
  border: none;
  transform: scale(1.2);
  border-bottom: 1px solid gray;
}

.centerSearch > form > label > a > button {
  background-color: white;
  border: 1px solid gray;
  border-top: none;
  border-left: none;
  border-radius: 5px;
  transform: scale(1.2);
}

.centerFavorites {
  display: flex;
  justify-content: center;
}
