header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  height: inherit;
}

header > h2 {
  color: white;
}

header > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

header > label > input {
  background-color: black;
  border: none;
  color: white;
  border-bottom: 1px solid gray;
}

header > label > a > button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

header > label > a > button:disabled {
  background-color: black;
  border: 1px solid gray;
  border-left: none;
  border-top: none;
  border-radius: 5px;
  color: gray;
}

@media only screen and (max-width: 650px) {
  header {
    flex-direction: column;
  }

  .aboutMeLink {
    align-self: flex-end;
    padding-inline: 15px;
  }

  .moviePoster {
    width: 50%;
  }
}
