.movieParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moviePoster {
  display: grid;
  grid-template-rows: 4fr 1fr;
  align-items: center;
  width: 200px;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid gray;
  overflow: hidden;
  cursor: pointer;
}

.moviePoster > a > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  transition: filter 0.2s, transform 0.2s;
}

.moviePoster > a > img:hover {
  filter: blur(0px);
  transform: scale(1.1);
}

.title-fav {
  display: flex;
  justify-content: space-between;
  padding-inline: 5px;
}

.favorite {
  transition: transform 0.2s;
}

.favorite:hover {
  transform: scale(1.5);
}

@media only screen and (max-width: 650px) {
  .moviePoster {
    width: 40%;
  }

  .moviePoster > a > img {
    filter: blur(0px);
  }
}
