.singleMoviePage {
  position: relative;
  color: white;
  padding: 10px 15px;
  overflow: hidden;
}
.singleMoviePage > .backgroundPoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(20%) blur(5px);
  position: absolute;
  z-index: -1;
  transform: scale(1.3);
}

.singleMoviePage > h2 {
  margin-block: 0;
  padding-block: 10px;
}

.IMDB_logo {
  width: 30px;
  border-radius: 5px;
}
.singleMoviePage > .topPageParent > .foregroundPoster {
  border: 2px solid white;
  border-radius: 15px;
}

.genres {
  list-style-type: none;
}

.rating {
  font-weight: bold;
}

.titleRatingImdb {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.actors {
  list-style-type: none;
}

.topPageParent {
  display: flex;
  gap: 20px;
}

span {
  font-size: x-small;
}

.responseTitleAndButton {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.chatGPTButton {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 3px 6px;
  cursor: pointer;
}

.chatGPTButton:hover {
  background-color: white;
  color: black;
}

.chatGPTButton:disabled {
  color: gray;
  background-color: darkgray;
}
.chatGPTButton:disabled:hover {
  color: gray;
  background-color: darkgray;
  cursor: wait;
}

@media only screen and (max-width: 650px) {
  .topPageParent {
    flex-wrap: wrap;
  }

  .foregroundPoster {
    width: 60%;
    margin-inline: auto;
  }

  .responseTitleAndButton {
    flex-wrap: wrap;
  }
}
