.singleMoviePage {
  position: relative;
  color: white;
}

.singleMoviePage > img {
  width: 100%;
  filter: brightness(40%) blur(5px);
  position: absolute;
  z-index: -1;
}

.singleMoviePage > h2 {
  margin-block: 0;
  padding-block: 10px;
}
